In [15]:
import pandas as pd
from rsaalgo import encrypt,pubKey

In [16]:
file = pd.ExcelFile('data_entry.xlsx')

In [17]:
df1 = file.parse('Sheet1')

In [18]:
df1

      Name                Email       Phone Address    Aadhar
0  Pranavi  pranavi@somaiya.edu  9004901727  Mumbai  12356425